body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --grey: #747071;
  --softpink: #EFE3E3;
  --green: #28AECD;
  --black: #1F232B;
  --softwhite: #F9F5F2;
  --pink: #9E308D;
}

.logo-title{
  font-family: 'Satisfy', cursive;
  font-size: 90px;
}

/*

font-family: 'Roboto', sans-serif;
*/